body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main-title{
    font-size: 70px;
    text-align: center;
    background-color: aquamarine;
}

.title{
    font-size: 40px;
    text-align: center;
    color: darkslategrey;
    background-color: antiquewhite;
}

.subtitle{
    font-size: 35px;
    color: rgb(150, 70, 70)
}

.link{
    font-size: 35px;
    background-color: aqua;
}

.image{
    width: 300px;
    height: auto;
}

.description{
    font-size: 24px;
}

.ingredients,
.directions{
    font-size: 20px;
}

.ingredients{
    background-color: azure;
}

.directions{
    background-color: beige;
}