body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main-title{
    font-size: 70px;
    text-align: center;
    background-color: aquamarine;
}

.title{
    font-size: 40px;
    text-align: center;
    color: darkslategrey;
    background-color: antiquewhite;
}

.link{
    font-size: 35px;
    background-color: aqua;
}

.image{
    width: 300px;
    height: auto;
}